@import 'menu-admin.scss';
@import 'ingredients-admin.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

#login {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.navBar-admin {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(48, 48, 48);
}

.mainContent-admin {
    width: auto;
    height: 100;
}
