@import 'menu-admin.scss';
@import 'login-admin.scss';
@import 'ingredients-admin.scss';
@import 'orders-admin.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

body {
    background-color: rgb(49, 51, 58);
}

#app {
    display: flex;
}

#login {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.navBar-admin {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 100vh;
    background-color: rgb(23, 24, 26);
}

.mainContent-admin {
    width: 100%;
    height: 100vh;
}
