.orders {
    &-single {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        padding: 1rem;
        box-shadow: 0.2rem 0.2rem 0.2rem rgb(31, 31, 31);

        &__information {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__bottom-menu {
            display: flex;
            width: auto;
        }

        &__details-button {
            padding: 0.5rem;
            color: black;
            background-color: rgba(130, 205, 248, 0.699);
            text-shadow: 2px 2px 2px white;
        }

        &__element {
            padding: 0.25rem;
            background-color: rgba(255, 255, 255, 0.692);
        }

        &__popDetails {
            background-color: white;
            height: 128px;
        }
    }

    &-single:nth-child(2n) {
        background-color: rgba(255, 255, 255, 0.918);
    }

    &-single:nth-child(2n+1) {
        background-color: rgba(217, 236, 247, 0.699);
    }
}
