* {
  margin: 0;
}

#login {
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.navBar-admin {
  height: 100%;
  background-color: coral;
}

